/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/vendor/scribe
/storage/*.key
/vendor
/coverage
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
_ide_helper.php
_ide_helper_models.php

/resources/views/scribe/*
/storage/app/scribe/*
/.scribe/endpoints/*
/.scribe/endpoints.cache
/.scribe/intro.md
/.scribe/auth.md
/.scribe/.filehashes
./public/vendor/scribe/*
./app/Console/Commands/Playground.php
